.header {
  width: 500px;
  height: 200px;
  background-color: blue;
  background-image: url(../img/profile-photo.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
